graphs/
data/census/combined_data_raw.csv
Census_1787-1901_cph_aar_hade.csv
data/
scripts/ll_data
scripts/*.csv
*.png
*.jpg
*.csv
*.csv
*.xlsx
*.json
*.pdf
scripts/data/*.csv
scripts/*.csv
scripts/*.pdf
*/*.csv
*/*/*.csv
*/*/*/*.csv
scripts/data/Census_1787-1901_cph_aar_hade.csv
data/census
